<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRqMSIFpVLsE2h3CcjW6JaHKvGNy2jgfIxhQ&usqp=CAU" 
        alt=""
        height="200px"
        width="400px">
    </div>
    <div class="big-card__title">
        <h1> <a href=""> Steam: 21 jogos com até 90% de desconto para comprar</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            De nada adianta ter uma supermáquina em casa e não aproveitar para rodar alguns dos melhores jogos disponíveis na Steam. Melhor ainda quando os títulos em questão podem ser adquiridos a precinhos camaradas  — os descontos nesta semana vão até 90%!
        </p>
    </div>
</div>
