<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://sm.ign.com/t/ign_br/screenshot/default/52878312575-a0b78df908-o-1_juz1.1280.jpg"
        cardTitle="É do Brasil! W7M Esports bate Team Liquid e é a campeã do Blast R6 Major Copenhagen"
        cardDescription="Os Touros levaram a melhor no confronto brasileiro; título coroa a grande remontada do time que cresceu desde 2020." ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            photoSmallCard="https://sm.ign.com/t/ign_br/screenshot/default/novo-projeto-5_nnz3.280.jpg"
            smallCardTitle="Batman e Homem de Ferro juntos? Novo filme da Netflix">
        </app-small-card>

        <app-small-card
            photoSmallCard="https://sm.ign.com/t/ign_br/screenshot/default/guardians-of-the-galaxy-vol-3-rockets-off-to-a-282-million-g_kzrx.280.jpg"
            smallCardTitle="Guardiões da Galáxia Vol. 3 fatura quase R$ 1,5 bilhão">
        </app-small-card>

        <app-small-card
            photoSmallCard="https://sm.ign.com/t/ign_br/screenshot/default/lotr_wgcf.280.png"
            smallCardTitle="Os Anéis de Poder: Elenco dá atualizações sobre segunda temporada">
        </app-small-card>
    </div>
</div>
